@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@100&display=swap");
@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:wght@100&display=swap");
/*body{
  width: 1440px;
}*/
#Celular {
  width: 1440px;
 display: flex;
 align-items: start;
 flex-wrap: wrap;/*Revisar*/
justify-content: space-around;
 height: 660px;

}
#Celular #Phone {
  position: relative;
  width: 457.6px;
  height: 62.4 px;
  top: -168.6px;
  left: 200px;
}
#Celular .historia{

  width: 465px;
}

#Celular h1 {
  font-family: "IBM Plex Sans", sans-serif;
  font-size: 48px;
  color: #060a24;
  letter-spacing: 0;
  line-height: 28px;

  width: 399px;
  height: 62px;
}
#Celular > p {
  font-family: "IBM Plex Mono", monospace;
  font-size: 16px;
  color: #060a24;
  letter-spacing: 0;
  line-height: 24px;

  width: 464px;
  height: 204px;
}

@media screen and (max-width: 420px) {
  
  #Celular {
    width: 400px;
  }
  #Celular #Phone {
    position: relative;
    width: 440px;
    height: 519 px;
    top: -78px;
    left: 0;
  }
  #Celular .historia{
    width: 368px;
  }
  #Celular h1 {

    font-size: 36px;
    line-height: 42px;
    height: 84px;
  }

  #Celular > p {
  
    font-size: 14px;
    line-height: 22px;
  
    height: 254px;
  }

  
}