@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@100&display=swap");
@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:wght@100&display=swap");

#Celular {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  height: 660px;
  position: relative;
  width: 100%;
  padding: 0 100px;
}
#Celular #Phone {
  position: absolute;
  width: 450px;
  height: 62.4 px;
  top: -90px;
  left: 100px;
}
#Celular .historia {
  width: 465px;
  height: 50%;
}

#Celular h1 {
  font-family: "IBM Plex Sans", sans-serif;
  font-size: 48px;
  color: #060a24;
  letter-spacing: 0;
  line-height: 28px;
  width: 399px;
  height: 62px;
}
#Celular .historia p {
  font-family: "IBM Plex Mono", monospace;
  font-size: 16px;
  color: #060a24;
  letter-spacing: 0;
  line-height: 24px;
  margin-bottom: 10px;
}

@media screen and (max-width: 420px) {
  #Celular {
    width: 400px;
    height: 1000px;
    align-items: flex-end;
    justify-content: center;
    margin-bottom: 40px;
  }
  #Celular #Phone {
    width: 100%;
    top: 0;
    left: 0;
  }
  #Celular .historia {
    width: 368px;
    height: auto;
  }
  #Celular h1 {
    font-size: 36px;
    line-height: 42px;
    height: 84px;
  }

  #Celular > p {
    font-size: 14px;
    line-height: 22px;
    height: 254px;
  }
}
