@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@100&display=swap");

#Episodios {
  height: 1042.65px;
  background-image: linear-gradient(225deg, #0000ff 0%, #0000a3 100%);
  clip-path: polygon(0% 10%, 100% 0%, 100% 90%, 0% 100%);
  display: flex;
  justify-content: start;
  align-items: flex-start;
  flex-direction: column;
}
#Episodios h1 {
  font-family: "IBM Plex Sans", sans-serif;
  font-size: 48px;
  color: #ffffff;
  letter-spacing: 0;
  margin: 150px 0 50px 200px;
}

#Episodios .Imagenes {
  display: flex;
  flex-wrap: wrap;
  background-color: red;
  width: 100%;
  padding: 0 100px;
  justify-content: space-between;
  align-items: center;
  height: 60%;
}
#Episodios .Imagenes .Img {
  width: 40%;
  height: 232px;
  /* margin-bottom: 72px;
  margin-right: 72px; */
}

@media screen and (max-width: 420px) {
  #Episodios {
    height: 1203.5px;
    width: 400px;
    margin-top: 24px;
    clip-path: polygon(0% 2%, 100% 0%, 100% 98%, 0% 100%);
  }

  #Episodios h1 {
    font-size: 36px;
    line-height: 42px;
    margin: 0;
    margin-top: 90px;
    margin-left: 16px;
    margin-bottom: 21px;
  }

  #Episodios > .Imagenes {
    width: 380px;
    margin-left: 11px;
    padding: 0;
  }

  #Episodios .Imagenes .Img {
    width: 380px;
    height: 225px;
    margin-bottom: 11px;
    margin-right: 0;
  }
}
