@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:wght@100&display=swap");
@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@100&display=swap");
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
#MenuHead,
#IntroHead {
  padding: 0px 100px;
  width: 100%;
}

#MenuHead {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 80px;
  color: #ffffff;
  opacity: 100%;
}
#MenuHead ul > li {
  display: inline;
  margin-left: 48px;
  font-family: "IBM Plex Mono", monospace;
  font-size: 16px;
  color: #060a24;
  letter-spacing: 0;
  line-height: 28px;
  text-transform: uppercase; /*Me pone todo en mayusculas*/
}

#MenuHead ul :hover {
  color: #00f3bb;
  text-decoration: line-through;
}
#MenuHead ul :active {
  color: #8f060a24;
  text-decoration: line-through;
}
#MenuHead ul li a {
  text-decoration: none;
}

/* ------------- Para Mobil -----------*/
.MenuHeadML {
  background-color: #0000ec;
}
.MenuHeadML > div {
  display: flex;
  height: 28px;
  align-items: center;
  padding-left: 16px;
  opacity: 100%;
}
.MenuHeadML > div > a {
  text-decoration: none;
  color: #ffffff;
  font-family: "IBM Plex Mono", monospace;
  font-size: 16px;
  letter-spacing: 0;
  line-height: 28px;
  text-transform: uppercase;
}

#MenuHeadM > .Logo {
  display: inline-block;
  align-items: center;
}
#MenuHeadM label span {
  border-radius: 5px;
  background: black;
  display: block;
  width: 20px;
  height: 2px;
  margin: 5px auto;
  transition: all 0.6s ease;
}

#MenuHeadM label.Logo {
  margin-top: 10px;
  margin-left: 315px;
}
#MenuHeadM img {
  margin-left: 16px;
}

.MenuHeadML {
  transform: translateX(100%);
  transition: all 1.5s ease;
}

#Hamburguesa {
  display: none;
}

#MenuHeadM {
  display: none;
  overflow: hidden;
}

.World {
  text-decoration: line-through;
}
.Punto {
  color: #0000ec;
}
#IntroHead {
  margin: 130px 0 0 0;
  padding-left: 200px;
}

#IntroHead h1 {
  font-family: "IBM Plex Sans", sans-serif;
  font-size: 64px;
  color: #060a24;
  letter-spacing: 0;
  height: 84px;
  align-items: center;
}
#IntroHead p {
  font-family: "IBM Plex Mono", monospace;
  font-size: 16px;
  color: #060a24;
  letter-spacing: 0;
  width: 60%;
  line-height: 24px;
  margin-bottom: 56px;
}
#IntroHead button {
  font-family: "IBM Plex Mono", monospace;
  font-size: 18px;
  color: #060a24;
  letter-spacing: 0;
  text-align: center;
  line-height: 24px;
  width: 226px;
  border: none;
  height: 56px;
  background-color: #00f3bb;

  text-transform: uppercase; /*Pone el texto en mayuscula*/
  font-weight: 700; /*Pone el texto en negrilla*/
}
#IntroHead button:hover {
  background-image: linear-gradient(225deg, #0000fe 0%, #00f0b8 100%);
}

@media screen and (max-width: 420px) {
  #MenuHeadM {
    display: block;
  }
  #MenuHead {
    display: none;
  }

  #Hamburguesa:checked + .MenuHeadML {
    transform: translatex(0%);
  }
  /*
  #MenuHeadM input:checked + span:nth-child(1){
    transform: translateY(7px) rotate(45deg);
  } 
  #MenuHeadM input:checked + span:nth-child(2){
   opacity: 0%;
  } 
  #MenuHeadM input:checked + span:nth-child(3){
    transform: translateY(-7px) rotate(-45deg);
  } 
*/
  #IntroHead {
    margin: 0;
    padding: 0;
    width: 400px;
    background-color: aquamarine;
  }
  #IntroHead h1 {
    font-size: 36px;
    line-height: 42px;
    width: 215px;
    margin-left: 16px;
  }
  #IntroHead p {
    font-size: 14px;
    line-height: 22px;
    width: 368px;
    margin: 16px 16px 36px 16px;
  }
  #IntroHead button {
    font-size: 16px;
    line-height: 22px;

    width: 368px;
    height: 48px;
    margin-left: 16px;
  }
}
